@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --purple-primary: #7200a1;
    --dark-background: #1e1e1e;
    --dark-light-background: #292929;
    --gray-text: #5e5e5e;
    --red: #ff0a0a;
    --white: #fff;
    --gray: #a0a0a0;
    --header-height: 70px;
}

html {
    font-size: 65.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

/* Flex and Grid */
.dflex {
    display: flex;
}

.al-center {
    display: flex;
    align-items: center;
}

.grid-center {
    display: grid;
    place-items: center;
}

.dflex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
