.controls {
    @include flexCenter;
    height: $height-1;
    background-color: $color-bg-dark-2;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    padding: $pd-4 $pd-2;
    color: $color-white-0;
    .controls-left {
        width: $width-2;
        .media {
            display: flex;
            .media-left {
                @include flexCenter;
                padding: 0 $pd-4;
                .media-thumb {
                    padding-right: $pd-4;
                    img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: $radius-3;
                    }
                }
                .media-content {
                    .media-content-title {
                        @include lineClamp(1);

                        @include fontSet($fs-0, $fw-0, $line-height-0, $color-white-0);
                    }
                    .media-content-subtitle {
                        @include lineClamp(1);

                        @include fontSet($fs-6, $fw-1, $line-height-1, $color-gray-3);
                    }
                }
            }
            .media-right {
                display: flex;
                align-items: center;
                font-size: $fs-4;
                .media-right-item {
                    margin-left: $mg-1;
                    .media-thumb-btn {
                        padding: $pd-5;
                        border-radius: $radius-1;
                        @include centerItemWithMargin;
                        &:hover {
                            cursor: pointer;
                            background-color: $color-hover-btn;
                        }
                    }
                }
            }
        }
    }
    .controls-center {
        max-width: 40vw;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .controls-main {
            display: flex;
            align-items: center;
            .controls-top-item {
                cursor: pointer;
                padding: $pd-5;
                border-radius: $radius-1;
                margin: 0 $mg-4;
                &:hover {
                    background-color: $color-hover-btn;
                }
                .control-btn {
                    font-size: $fs-7;
                    @include centerItemWithMargin;
                }
            }
            .controls-btn-play {
                &:hover {
                    background-color: transparent;
                }
                .btn-play {
                    font-size: $fs-8;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    .controls-right {
        width: $width-2;
        .options {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: $fs-4;
            .option-item {
                padding: $pd-4;
                margin-left: $mg-9;
                cursor: pointer;
                &:hover {
                    background-color: $color-hover-btn;
                    border-radius: $radius-1;
                }
                .option-item-icon {
                    @include centerItemWithMargin;
                }
            }
        }
    }
}

.time-progress {
    width: 100%;
    @include flexCenter;
}

.progress-area {
    margin: 0 20px;
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: $color-blue-2;
    cursor: pointer;
    .progress-bar {
        height: inherit;
        width: 0;
        position: relative;
        border-radius: inherit;
        background: $color-white-0;
        &::before {
            content: '';
            position: absolute;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            top: 50%;
            right: -5px;
            z-index: 2;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-50%);
            background: inherit;
            transition: opacity 0.2s ease;
        }
    }
    &:hover > .progress-bar::before {
        opacity: 1;
        pointer-events: auto;
    }
}
