.footer {
    @include flexCenter;
    height: $height-1;
    background-color: $color-bg-dark-2;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    padding: $pd-4 $pd-2;
    color: $color-white-0;
    .footer-left {
        width: $width-2;
        .media {
            display: flex;
            .media-left {
                @include flexCenter;
                padding: 0 $pd-4;
                .media-thumb {
                    padding-right: $pd-4;
                    img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: $radius-3;
                    }
                }
                .media-content {
                    .media-content-title {
                        @include fontSet($fs-0, $fw-0, $line-height-0, $color-white-0);
                    }
                    .media-content-subtitle {
                        @include fontSet($fs-6, $fw-1, $line-height-1, $color-gray-3);
                    }
                }
            }
            .media-right {
                display: flex;
                align-items: center;
                font-size: $fs-4;
                .media-right-item {
                    margin-left: $mg-1;
                    .media-thumb-btn {
                        padding: $pd-5;
                        border-radius: $radius-1;
                        @include centerItemWithMargin;
                        &:hover {
                            cursor: pointer;
                            background-color: $color-hover-btn;
                        }
                    }
                }
            }
        }
    }
    .footer-center {
        max-width: 40vw;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .controls {
            display: flex;
            align-items: center;
            .controls-top-item {
                cursor: pointer;
                padding: $pd-5;
                border-radius: $radius-1;
                margin: 0 $mg-4;
                &:hover {
                    background-color: $color-hover-btn;
                }
                .control-btn {
                    font-size: $fs-7;
                    @include centerItemWithMargin;
                }
            }
            .controls-btn-play {
                &:hover {
                    background-color: transparent;
                }
                .btn-play {
                    font-size: $fs-8;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    .footer-right {
        width: $width-2;
        .options {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: $fs-4;
            .option-item {
                padding: $pd-4;
                margin-left: $mg-9;
                cursor: pointer;
                &:hover {
                    background-color: $color-hover-btn;
                    border-radius: $radius-1;
                }
                .option-item-icon {
                    @include centerItemWithMargin;
                }
            }
        }
    }
}

.time-progress {
    @include flexCenter;
    width: 100%;
    height: 15px;
    cursor: pointer;

    .progress-container {
        padding: 0 10px;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        align-self: center;
        .progress {
            cursor: pointer;
            width: 100%;
            -webkit-appearance: none;
            height: 100%;
            background: rgba(211, 211, 211, 0.6);
            outline: none;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
        }

        .progress::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 100%;
            width: 12px;
            background-color: $color-white-0;
        }
    }
    &:hover > .progress-container {
        height: 5px;
    }
}
