.chart-song-item {
    border-bottom: 1px solid $color-hover-btn;
    border-radius: $radius-3;
    &:hover {
        background-color: $color-hover-btn;
    }
    .item-media {
        height: 100%;
        padding: 10px;
        @include flexCenter;
        .media-left {
            display: flex;
            align-items: center;
            width: 50%;
            .song-prefix {
                @include flexCenter;
                margin-right: $mg-3;
                .prefix-number {
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                    width: 60px;
                    font-size: $fs-9;
                    font-weight: $fw-2;
                    color: transparent;
                    -webkit-text-stroke: 1px $color-white-0;
                    margin-right: $mg-9;
                }
                .prefix-sort {
                    @include centerItemWithMargin;
                    color: $color-gray-3;
                    width: 18px;
                }
            }
            .song-thumb {
                width: 40px;
                margin-right: $mg-3;
                overflow: hidden;
                border-radius: $radius-3;
                position: relative;
                &:hover {
                    .thumb-overley {
                        display: flex;
                        cursor: pointer;
                    }
                }
                img {
                    width: 100%;
                }
                .thumb-overley {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    color: $color-white-0;
                    background-color: rgba(0, 0, 0, 0.4);
                    display: none;
                }
            }
            .song-info {
                .song-title {
                    @include lineClamp(1);
                    color: $color-white-0;
                    font-weight: $fw-0;
                    margin: 0;
                    span {
                        margin-left: 6px;
                    }
                }
                .song-subtitle {
                    @include lineClamp(1);
                    a {
                        text-decoration: none;
                        color: $color-gray-3;
                        &:hover {
                            text-decoration: underline;
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        .media-content {
            flex-grow: 1;
            span {
                &:hover {
                    text-decoration: underline;
                    color: $color-primary;
                    cursor: pointer;
                }
            }
        }

        .media-content,
        .media-right {
            margin-left: 10px;
            color: $color-gray-4;
            font-size: $fs-6;
        }
    }
}

.chart-song-item.active {
    background-color: $color-hover-btn;
}
